@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

html {
    scroll-behavior: smooth;
    transition: all 0.3s ease;
  }

 

  html[data-theme="dark"] {
    background-color: #000000; 
    color: white;
  }
  
  html[data-theme="light"] {
    background-color: #ffffff; 
    color: black;
  }
  
